	<h1>Contacts</h1>

		<ol>
			<% @contacts.each do |contact| %>
			<li><strong>First Name</strong>: <%= contact.first_name %>
			 <strong>Last Name</strong>: <%= contact.last_name %>
			 <strong>E-mail</strong>: <%= contact.email %>
			 <strong>Note</strong>: <%= contact.note %></li>
			<% end %>
			</ol>
			<ul>
			<li>
        <a href="/contacts/new">Add a contact</a>
        <a href="/">Home</a>
      </li>
      </ul>
