
	<h1>Welcome to <%= @crm_name %></h1>
		<p>Main menu</p>
		<nav>
			<ul>
				<li class="label"><a href="/contacts/new">Add a contact</a></li>
				<li class="label"><a href="/contacts">View all contacts</a></li>	
			</ul>