<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css" href='http://fonts.googleapis.com/css?family=Lato|Roboto'>
	<title><%= @title %></title>
</head>
<body>
    <%= yield %>
  </body>
<footer>
	<p class="footer">Dan Weinstock &copy;2015</p>
</footer>
</body>
</html>