<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Contact</title>
</head>
<body>
	<h1>New Contact</h1>

	<form action="/contacts" method="post">
		<label for "first_name">First Name</label>
		<input type="text" name="first_name">
		<br>
		<br>
		<label for "last_name">Last Name</label>
		<input type="text" name="last_name">
		<br>
		<br>
		<label for "email">Email</label>
		<input type="text" name="email">
		<br>
		<br>
		<label for "note">Note</label>
		<input type="text" name="note">
		<br>
		<br>
		<input type="submit">
	</form>
</body>
</html>