*	{ box-sizing: border-box;
}
h1 {color:#FDF5E6; 
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	text-align: center;
	background-color: rgba(232, 68, 148, 0.5);
	margin-top:2%;
	margin-left: 25%;
	margin-right: 25%;
}

p {color:#8B0000;
	font-family: 'Lato', sans-serif;
	font-size: 25px
}

.footer {	color:#4169E1;
					font-size: 15px;
					position: absolute;
					bottom: 0;
					height: 2em;
}

body {
	margin: 5%;
	background: url(../Alien_Ink.jpg) no-repeat fixed;
	background-size: cover;
}

.contact {
	color: #5B16BB
}

.new-contact-form div {
	margin-bottom: 0.2em;
	display: block;
}

.label {
	list-style-type: none;
	padding: 1%;
	border:5px solid;
	border-color:#5B16BB;
	margin-right: 65%;
	margin-bottom: 1%;
	font-size: 25px;
}

.chng{
	padding: 1%;
	list-style-type: none;
	font-size: 1.5em;
	border: 5px solid #3CB371;
	margin-bottom: 1%;
	margin-right: 75%;
	border-radius: 50%, 50%;
	text-align: center;
}